source1:
  type: ros_kinect
#  type: openni
  rgb_frame_id: '/camera_rgb_optical_frame'
#  bag: /home/vrabaud/data/robot_power/poster_01.bag

sink1:
  type: publisher
  object_ids: 'all'

voter1:
  type: 'aggregator'
  sinks: [sink1]

pipeline1:
  type: 'TOD'
  module: 'object_recognition_tod'
  subtype:
    descriptor:
      type: 'ORB'
  sources: [source1]
  voters: [voter1]
  parameters:
    object_ids: "all"
    feature:
      type: 'ORB'
      package: 'ecto_opencv.features2d'
      n_features: 5000
      n_levels: 3
      scale_factor: 1.2
    descriptor:
      type: 'ORB'
      package: 'ecto_opencv.features2d'
    search:
      key_size: 16
      multi_probe_level: 1
      n_tables: 10
      radius: 50
      ratio: 0.8
      type: 'LSH'
    guess:
      n_ransac_iterations: 250
      min_inliers: 8
    sensor_error: 0.01
    db:
      type: 'CouchDB'
      root: 'http://bwl:5984'
      collection: 'object_recognition'
