# info about the db
db:
  type: 'CouchDB'
  root: 'http://localhost:5984'
  collection: 'object_recognition'

pipeline1:
  type: 'TOD'
  feature_descriptor:
    combination: 'ORB'
    feature:
      n_features: 1000
      n_levels: 3
      scale_factor: 1.2
  search:
    key_size: 24
    multi_probe_level: 2
    n_tables: 8
    radius: 55
    ratio: 0.8
    type: 'LSH'

# The list of object_ids to analyze
object_ids: "all"
